.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
  background-color: lightgray;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 24px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
